.section-logements {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-logements {
  width: 1240px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 27.42%);
  grid-template-rows: repeat(7, 340px);
  gap: 50px;
  padding: 60px 0px 60px 0px;
}
@media (max-width: 1024px) {
  .container-logements {
    grid-template-columns: repeat(2, 41.13%);
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .container-logements {
    grid-template-columns: 90%;
    background-color: white;
    gap: 20px;
  }
}
